* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.headerNav {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid black 3px;
  height: 8vh;
  width: 100vw;
}

.siteTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 27%;
}

.siteTitle h1 {
  color: black;
}

.siteTitle img {
  height: 50px;
  width: 50px;
  margin-right: 2%;
}

.footer {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  border-top: solid black 3px;
  height: 6vh;
  width: 100vw;
  margin-top: auto;
}

.footer h6 {
  /* margin-left: 15%;
  margin-right: 15%; */
}
