.homeBody {
    background-color: rgba(0, 128, 0, 0.186);
    /* min-height: 90vh; */
    height: 86vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.carousel {
    height: 35vh;
    width: 100vw;
}

.carousel-item img {
    height: 35vh;
    width: 90vw;
    object-fit: cover;
    border-bottom: solid black 3px;
}

.homeContent {
    display: flex;
    flex-direction: row;
}

.aboutUsBox {
    width: 30vw;
    height: 15vh;
    background-color: orange;
    margin-top: 1%;
    margin-right: 3%;
}

.plantFinderBox {
    display: flex;
    width: 60vw;
    height: 40vh;
    background-color: plum;
    margin-top: 1%;
    margin-bottom: 1%;
}

.signupBox {
    background-color: red;
    flex: 1;
}

.loginBox {
    background-color: blue;
    flex: 1;
}